[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

flake8 = "*"
pytest-runner = "*"
pytest-cov = "*"
pytest-mock = "*"
readme_renderer = "*"


[packages]

"RwOWoWMA" = {path = ".", editable = true}
devpi-client = ">=3.0.0"
